/* My code */

.col-2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
}

.col-1 {
}

.speech {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
}

#speech_bubble {
    position: relative;
    height: 10%;
    top: 1em;
    right: 10%;
}

#ai_form {
    width: 250px;
    height: 100%;
    margin-left: 40%;
}

#form {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFD99C;
    font-size: 1.5em;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 3px;
}

.field_form {
    width: 100%;
    height: 30px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 15px;
}

#comment_form {
    height: 20vh;
    margin: 15px 0 3em 0;
}

input:focus, textarea:focus {
    outline-style: none;
    background-color: #d1f2ff;
}

.button_form {
    width: 100%;
    color: #FFFFFF;
    background-color: #F4837D;
    border-radius: 1em;
    cursor: pointer;
    padding: 0.7em;
}

.button_form:focus {
    background-color: #F4837D;
}

#submit_button {
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .col-2 {
        flex-direction: -webkit-column;
        flex-direction: -moz-column;
        flex-direction: column;
        margin-top: 3.0em;
    }
    
    #form {
        padding: 15px;
        margin: 0;
    }
    
    .field_form {
        margin: 0 0 1em 0;
    }
    
    .speech {
        flex-direction: -webkit-column;
        flex-direction: -moz-column;
        flex-direction: column;
    }
    
    #ai_form {
        margin: auto;
        margin-left: 0;
        order: 4;
    }
    
    #speech_bubble {
        position: static;
        order: 3;
    }
    
    #submit_button {
        margin-bottom: 1em;
    }
    
    #comment_form {
        width: 100%;
        margin: 0 0 1em 0;
    }
}