/* My Code */
body {
    background-color: #FFFFFF;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

#kachuna_logo {
    margin: auto;
    width: 50%;
}

#intro_text {
    text-indent: 0.3em;
    text-align: justify;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.intro_text {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0,0,0), 2px 2px 5px rgb(0,0,0);
}

.intro_text::first-letter {
    font-size: 1.6em;
    color: rgb(229, 192, 67);
}

#trailer {
    margin-top: 1em;
    margin-left: 0.2em;
    /* position: relative;
    padding-bottom: 75%;
    height: 0; */
}

#trailer_text {
    margin-bottom: 0.5em;
}

#youtube {
    /* position: absolute;
    left: 0; */
    width: 100%;
    height: 100vh;
}

#demo {
    margin-top: 1em;
    margin-left: 0.2em;
}

#demo_text {
    margin-bottom: 0.5em;
}

#demo_img {
    width: 50%;
}

.intro_table {
    width: calc(100% - 0.2em);
    border: 2px solid #FFC137;
    margin-top: 1em;
    margin-left: 0.2em;
}

.intro_caption {
    border-bottom: none;
    margin-bottom: 0.5em;
    text-align: left;
}

th::first-letter {
    font-size: 1.3em;
    color: rgb(229, 192, 67);
}

th, td {
    text-align: left;
    padding: 8px;
    text-shadow: 2px 2px 5px rgb(0,0,0), 2px 2px 5px rgb(0,0,0);
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

th {
    color: rgb(255, 255, 255);
}

td {
    color: rgb(253, 208, 174);
}

@media only screen and (max-width: 768px) {
    .col-2 {
/*        margin-top: 8.2em;*/
    }
    
    #kachuna_logo {
        margin-top: 0em;
    }
    
    #intro_text {
        margin-left: 0;
    }
    
    #trailer {
        margin-left: 0;
    }
    
    #youtube {
        
    }
    
    tbody {
    }
    
    .intro_table {
        margin-left: 0;
    }
    
    th, td {
    }
    
    td {
    }
    
    th {
    }
    
    tr {
        display: flex;
        flex-direction: column;
    }
    
    #demo {
        margin-left: 0;
    }
}